In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dar Es Salaam,TZ,2020-10-18 13:36:32,-6.82,39.27,89.60,49,20,11.41
1,1,Mar Del Plata,AR,2020-10-18 13:35:50,-38.00,-57.56,73.40,78,100,13.87
2,2,Soyo,AO,2020-10-18 13:39:28,-6.13,12.37,80.31,78,52,11.36
3,3,Port Elizabeth,ZA,2020-10-18 13:37:29,-33.92,25.57,68.00,56,66,20.80
4,4,Torbay,CA,2020-10-18 13:35:18,47.67,-52.73,54.00,100,90,11.41

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [9]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [10]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [11]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [16]:
(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>= min_temp)

0       True
1       True
2       True
3      False
4      False
       ...
580     True
581     True
582     True
583     True
584     True
Name: Max Temp, Length: 585, dtype: bool

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dar Es Salaam,TZ,2020-10-18 13:36:32,-6.82,39.27,89.60,49,20,11.41
1,1,Mar Del Plata,AR,2020-10-18 13:35:50,-38.00,-57.56,73.40,78,100,13.87
2,2,Soyo,AO,2020-10-18 13:39:28,-6.13,12.37,80.31,78,52,11.36
10,10,Vallenar,CL,2020-10-18 13:39:29,-28.57,-70.76,75.52,34,0,5.70
12,12,Puerto Narino,CO,2020-10-18 13:39:29,-3.77,-70.38,75.20,100,90,3.36
14,14,Cabo Rojo,PR,2020-10-18 13:39:30,18.09,-67.15,87.01,71,94,1.99
16,16,Inirida,CO,2020-10-18 13:39:30,3.87,-67.92,82.80,75,65,2.01
17,17,Bolobo,CD,2020-10-18 13:39:30,-2.17,16.23,80.73,69,100,4.21
23,23,Chala,TZ,2020-10-18 13:39:31,-7.58,31.27,78.80,47,40,6.93
27,27,Saint-Philippe,RE,2020-10-18 13:37:25,-21.36,55.77,78.80,65,20,16.11

In [18]:
preferred_cities_df.count()

City_ID       300
City          300
Country       297
Date          300
Lat           300
Lng           300
Max Temp      300
Humidity      300
Cloudiness    300
Wind Speed    300
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat    Lng Hotel Name
0    Dar Es Salaam      TZ     89.60  -6.82  39.27
1    Mar Del Plata      AR     73.40 -38.00 -57.56
2             Soyo      AO     80.31  -6.13  12.37
10        Vallenar      CL     75.52 -28.57 -70.76
12   Puerto Narino      CO     75.20  -3.77 -70.38
14       Cabo Rojo      PR     87.01  18.09 -67.15
16         Inirida      CO     82.80   3.87 -67.92
17          Bolobo      CD     80.73  -2.17  16.23
23           Chala      TZ     78.80  -7.58  31.27
27  Saint-Philippe      RE     78.80 -21.36  55.77

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
    
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Dar Es Salaam,TZ,89.60,-6.82,39.27,Holiday Inn Dar Es Salaam
1,Mar Del Plata,AR,73.40,-38.00,-57.56,Gran Hotel Mar del Plata habitaciones
2,Soyo,AO,80.31,-6.13,12.37,Hotel Mpampa
10,Vallenar,CL,75.52,-28.57,-70.76,Humacao Bed & Breakfast
12,Puerto Narino,CO,75.20,-3.77,-70.38,Eware Refugio Amazonico
14,Cabo Rojo,PR,87.01,18.09,-67.15,Hotel Perichi's
16,Inirida,CO,82.80,3.87,-67.92,Fuente del Guania Hotel de Lujo
17,Bolobo,CD,80.73,-2.17,16.23,
23,Chala,TZ,78.80,-7.58,31.27,
27,Saint-Philippe,RE,78.80,-21.36,55.77,"Chambres d'hôte ""La Trinité"""

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]